<div class="concept-bg">
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 concept">
			<h2 class="concept-title">Concept</h2>
				<p class="concept-text">バンドとイベント主催者またはライブハウス側のマッチングアプリになります。<br>都内を中心に活動するアーティストがより積極的に活動しやすく、また主催者側も新しいアーティストを見つけられるように新しい出会いを実現します。
			
				
				</p>

		</div>

	</div>
</div>
</div>