<div class="utilization-bg">
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 utilization">
			<h2 class="utilization-title">ご利用の流れ</h2><br>
			<div class="lessons">
				<div class="lesson">
					<i class="fa fa-list-alt"></i>
				<p>1.イベントを探そう</p>
			</div>
			<div class="lesson">
				<i class="fa fa-envelope"></i>
				<p>2.イベント主催者に<br>
				メッセージを送ろう</p>
			</div>
			<div class="lesson">
				<i class="fa fa-calendar"></i>
				<p>3.具体的な構成や<br>日程を話し合おう</p>
			</div>
		</div>

		</div>

	</div>
</div>
</div>