
<%=render 'partial/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">

	<h1>お問い合わせ</h1>
<p>BANDRAへの
・情報掲載の希望
・プレスリリースの送付
・タイアップ
に関するお問い合わせなどはこちらまでお願い致します。
お問い合わせ内容の確認後、担当者よりご連絡させていただきます。
	</p>
	<br>

	<label>お名前 (必須)</label><br>
	<input>
	<br>
	<label>メールアドレス (必須)</label><br>
	<input>
	<br>
	<label>電話番号 (必須)</label><br>
	<input>
	<br>
	<label>題名 (必須)</label><br>
	<input>
	<br>
	<label>メッセージ本文 (必須)</label><br>
	<textarea></textarea>
	<br>
	<br>
	<span class="btn btn-success">
	送信する</span><br>
	または<strong>saongtx7@gmail.com</strong>まで
</div>
</div>
</div>
