


 <%= render 'partial/navbar' %>
 <div class="container">
 	<div class="row">
 		<h2 class="jissou">実装中</h2>

<div class="album">
	<%=image_tag "bandra.jpg",class: "img1" %>

	<%=image_tag "ivent.jpg",class: "img2" %>
</div>


</div>
</div>




