<div>
 
    <section class="fadein fade1">
        <h2>情報設計</h2>
        <p>何かしらの説明文。何かしらの説明文。何かしらの説明文。</p>
    </section>
 
    <section class="fadein fade2">
        <h2>サイトマップ</h2>
        <p>何かしらの説明文。何かしらの説明文。何かしらの説明文。</p>
    </section>
 
    <section class="fadein fade3">
        <h2>ワイヤーフレーム</h2>
        <p>何かしらの説明文。何かしらの説明文。何かしらの説明文。</p>
    </section>
 
</div>

<script type="text/javascript">
$(function(){
    $(window).scroll(function (){
        $('.fadein').each(function(){
            var elemPos = $(this).offset().top;
            var scroll = $(window).scrollTop();
            var windowHeight = $(window).height();
            if (scroll > elemPos - windowHeight + 200){
                $(this).addClass('scrollin');
            }
        });
    });
});
</script>