
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";
@import "font-awesome";


.jumbotron {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05) ), url(cristian.jpg);
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
height:800px;
   border-radius:0 0 20px 20px;
   margin-bottom:0px;
}
.jumbotron .container .row{
   margin-top: 100px;
    color: #fff;
}


// dropzone.jsのcss
@media (max-width: 768px){
  .dz-preview, .dz-processing, .dz-image-preview, .dz-error, .dz-complete {
      margin: 10px 0!important;
      width: 100%;
  }
  .dropzone .dz-preview .dz-image {
    width: 100%;
  }
  .dropzone .dz-preview .dz-image img {
    height: 120px;
  }
}

.dropzone .dz-preview .dz-image img{
  width: 100%;
  height: 100%;
}

.dropzone.dz-started .dz-message {
  display: block;
}

#pagejump_demo .scroll_button a{
    position: fixed;
    display: block;
    right:50px;
    bottom:50px;
    background: #313131;
    color:#fff;
    padding:20px;
}


#pagejump_demo .scroll_button_btm a{
    position: fixed;
    display: block;
    right:50px;
    top:50px;
    background: #313131;
    color:#fff;
    padding:20px;
}


.scroll_button_btm{
   display:block;
  margin:0 auto;
  text-align:center;
  margin-top:300px;

}

.scroll_button_btm a{
  text-decoration:none;
}


.fa-angle-double-down{
   font-size:50px;
  display:block;
  margin:0 auto;
  color:white;
  text-decoration:none;
}
.fa-angle-double-up{
  font-size:50px;
  display:block;
  margin:0 auto;
}
.jumbotron h1{
  margin-top:100px;
  font-size:85px;
  font-weight:200;
}


.search-tag p{
  float:left;
}
#q{
  height:50px;
  width:600px;
  display:block;
  float:left;

}
q::selection{
 color:black;
}

#r{
  height:50px;
  width:100px;
   display:block;
   float:left;
}

.people-1{
  margin-top:40px;

}

.people-2{
  margin-left:50px;
}

.people-3{

}
.listings{

 float:left;
   
}
.show-gazo{
  width:100%;
  height:300px;
}


.form-profile{
  height:300px;
  width:100%;
}

.prof{
  height:500px;
}
.shinki-bg{
 
}
.index-search{
  padding-bottom:30px;
}
.listing{
    margin-right:40px;
    margin-bottom:40px;
  float:left;
   width:250px;
  height:100%;
  background-color:white;
border-radius: 8px;
}

.index-listing{
 float:left;
 margin-bottom:40px;
 margin-right:20px;
 width:200px;
 height:250px;
  background-color:white;
 border-radius: 8px;

}
.listing-img{

 border-radius: 8px 8px 0 0;
}

.listing-title{

margin-left:10px;

padding-bottom:10px;
border-radius: 8px;
}
.carousel .item {
  height: 100%;
}
.listing-title a{
  color:black;
}

.carousel img {
  position: absolute;
  width: 100%;
}


.carousel{
  height: 200px;
  margin:auto;
}

/* 中略（ここに上で書いてるCSSが入っている） */

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}

.user-text{
  margin-top:20px;
}

.users-list{
    margin-right:40px;
    margin-bottom:40px;
    padding-top:10px;
  float:left;
   width:250px;
  height:100%;
  background-color:white;
border-radius: 8px;
}


.users-name a{
  color:black;
}


.footer-top{
  height:50px;
}

.footer-top li{
  float:left;
  list-style:none;
  padding:0 85px;
  line-height:40px;
}

.footer-top a {
  position: relative;
  display: inline-block;
  transition: .3s;
  color:black;
  padding-bottom:0px;
   text-decoration: none;
}
.footer-top a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #2ecc71;
  transition: .3s;
}
.footer-top a:hover::after {
  width: 100%;
}

.btn-facebook{
    color:#fff;
    background-color:#4c66a4;
}


.btn-twitter{

    color:#fff;
    background-color:#00aced;
       margin-left:10px;
}



.navbar-deafult .navbar-nav > li > a{
    color: white;
    font-size: 13px;
}


.navbar-default .navbar-brand {
    color: white;
}

.jumbotron .container .row{
    margin-top: 10px;
    color: #fff;
}



.navbar-default .icon-bar{
    background-color: #fff;
}

.dropdown-menu  { 
 
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}



.bousen{
  border-bottom:dotted 1px gray ;
}
.toukousya{
  margin-left:20px;
}
.henshubtn{
float:right;
  margin-left:20px;
}
.navbar-devise{
    background-color: #fff;
    border-color: #fff;
    z-index:10;
}

.navbar-devise .navbar-nav > li > a{
color:#222222;
font-size: 13px;
    }

.profile-0 {
    width: 28px;
    height: 28px;
}

.profile-1 {
    width: 50px;
    height: 50px;
}

.profile-2{
    width: 128px;
    height: 128px;
}

.profile-3{
  width:300px;
  height:300px;
}

.profile-full {
  width: 30%;
}


.concept{
  height:400px;
  float:left;
  padding-top:50px;
}

.concept-title{
  font-family: "Helvetica Neue LT W01_35 Thin", "Hiragino Kaku Gothic W1 JIS2004", sans-serif;
  font-size: 30px;
    line-height: 48px;
    display:inline-block;
    background:linear-gradient(transparent 80%, #ffff66 60%);
    letter-spacing: .04em;
}

.search-title{
font-family: "Helvetica Neue LT W01_35 Thin", "Hiragino Kaku Gothic W1 JIS2004", sans-serif;
  font-size: 30px;
    line-height: 48px;
    display:inline-block;
    background:linear-gradient(transparent 80%, #99cccc 60%);
    letter-spacing: .04em;
    margin-bottom:30px;
  
}





.saishin-title{
font-family: "Helvetica Neue LT W01_35 Thin", "Hiragino Kaku Gothic W1 JIS2004", sans-serif;
  font-size: 30px;
    line-height: 48px;
    display:inline-block;
    background:linear-gradient(transparent 80%, #B0C4DE 60%);
    letter-spacing: .04em;
    margin-bottom:30px;
  
}


.concept-text{
  font-size:16px;
  line-height:32px;
  vertical-align:middle;
  font-weight:normal;
}

.utilization-bg{


 background-color:white;
  
}

.concept-bg{
background-color:#f6f6f6;
 

}

.search-bg{
background-color:white;
height:350px;
}

.utilization-title{
font-family: "Helvetica Neue LT W01_35 Thin", "Hiragino Kaku Gothic W1 JIS2004", sans-serif;
  font-size: 30px;
    line-height: 48px;
    display:inline-block;
  background:linear-gradient(transparent 80%, #F4B49C 60%);
  letter-spacing: .04em;

}












.search-ivent{
  height:350px;
}



.utilization{
  padding-bottom:150px;
 
}


.lessons{
  float:left;
}



.utilization{
padding-top:50px; 
}


.lesson{
  float:left;
  margin-right:50px;
 
}

@media screen and (min-width: 960px) {
.search-1{
  margin-right:100px;
}
}


.jissou {
  text-align:center;
}

// タブレット用
@media screen and (max-width: 768px){
  
}





//smartphone
// スマホ用
@media screen and (max-width: 480px) {
 .lesson{
 width:100%;
 }
 .utilization{
 text-align:center;
 height:100%;
 }
.search-tag p{
  margin-bottom:50px;
}
.users-list{
  width:100%;
}

.bg-proedit{
  width:100%;
  height:100%;
}

.dropdown-toggle a{
  color:white;
}
.dropdown-menu a:hover{
  color:white;
}





.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
}










.saishin-ivent{
display:block;
margin:0 1uto;
  height:100%;
}
.search-bg{
  height:100%;
}

.footer{
 height:100%;
}


.search-bg{
 height:100%;
}
.sns-icon{
  height:100%;
}
.jumbotron{
  height:100%;
}

.ivents-bg{
  height:100%;
  background-color:red;
}
.index-listings{
  height:100%;
}
.index-listing{
  width:100%;
  float:clear;
  height:100%;
  padding:10px 30px;
}
.ivents-bg{
text-align:center;
  height:100%;
}
.search-ivent{
padding-top:20px;
  text-align:center;
  height:100%;
}

.footer{
  height:100%;
}
.img1{
   width:100%;
height:400px;
}
.img2{
   width:100%s;
  height:450px;
}


.navbar-default .navbar-toggle.collapsed .icon-bar{
    float:clear;
}

.sns-icon{
  height:100%;
}

.icon-bar{
  background-color:white;
}
.search-title{
text-align:center;
  margin:0 auto;
  }

.album{
  width:100%;
  height:450px;
  float:left;
}

 #q{
 width:355px;
 }
.footer-top{
  display:none;
}
 #r{
 float:right;
 }
 .concept{
 text-align:center;
 padding:0 30px;
  height:100%;

 }

 .search-1{
 text-align:center;
 height:100%;
 padding-bottom:30px;
 }

.search-2{
  padding-bottom:30px;
}


.search-3{
   padding-bottom:30px;
}
}



























.btn-1{
  margin-right:15px;
}


.button-top{
  margin-top:60px;
}


.fa-list-alt{
 font-size:30px;
 padding:25px;
}
.fa-envelope{
font-size:30px;
 padding:25px;
  
}

.fa-calendar{
  font-size:30px;
 padding:25px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  
  background: none;
  color: #86D1E8;
}


.navbar-devise .navbar-brand{
    color: #222222;
}

// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}


// row-space類
.row-space-top-0 {
  margin-top: 0px;
}
.row-space-left{
  margin-left:20px;
}

.row-space-top-1 {
  margin-top: 10px;
}

.row-space-top-2 {
  margin-top: 15px;
}

.row-space-top-3 {
  margin-top: 20px;
}

.row-space-top-4 {
  margin-top: 25px;
}

.row-space-0 {
  margin-bottom: 0px;
}
.row-space-1 {
  margin-bottom: 10px;
}

.row-space-2 {
  margin-bottom: 15px;
}


.row-space-4 {
    margin-bottom: 25px;
}

.user-profile{
  margin-top:30px;
}

.vertifications{
  margin-top:100px;
}



.color-val{
  color:gray;
}




body{
    color: #222;
  
}

.footer{
  width:100%;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:200');


#box {
  display: flex;
  align-items: center;
  


  justify-content: center;
  width: 100%;
  height: 100px;
 
  font-family: 'Raleway';
  font-size: 2.5rem;
  
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
  width:100%;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


.music_people a{
  color:white;
  text-decoration:none;
  
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}





.btn-regist{
  padding:30px 0;
}



.login-white{
  color:white;
}

.login-white a{
   text-decoration: none;
}


.bg-regist{
   background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05) ), url(ivent.jpg);
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  width:100%;
height:800px;
color:white;
margin-top:0px;

}

.bg-proedit{
   background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05) ), url(yuka.jpg);
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  width:100%;
height:100%;

margin-top:0px;

}

.proedit{
  background-color:transparent;


}



.navbar-devise{
  margin:0px;
}



.ivents-bg{
  background-color:#f6f6f6;
  height:100%;
}




.album {
  margin: auto;
 
  position: relative;
}

.album img {

  width: 100%;
  animation-name: album;
  -webkit-animation-name: album;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

.album .img1 {
  display: block;
  margin: 0 auto;
}

.album .img2 {
  animation-delay:3s;
  -webkit-animation-delay:3s;
  position: absolute;
  top: 0;
  
}

@keyframes album {
  0% {
    opacity: 0;
  }
  
  12.5% {
    opacity: 1;
  }

  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes album {
  0% {
    opacity: 0;
  }
  
  12.5% {
    opacity: 1;
  }

  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}











.sns-icon{
  float:right;
  margin-right:50px;
  margin-bottom:20px;
  color:f099;
}


.fa-facebook-square{
   font-size:30px;
}

.my-twitter{

color: #1DA1F2;
}
.my-facebook{
  color: #3B5998;
}

.fa-twitter{
  font-size:30px;
  margin-right:10px;
  color:f099;
}
